force-app/main/default/flows/Inbound_ScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>nav2Inbound</name>
        <label>nav2Inbound</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>NavigateToRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>InBiD</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <outputParameters>
            <assignToReference>InBiD</assignToReference>
            <name>recordId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>nav2Opo</name>
        <label>nav2Opo</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>NavigateToRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>InBiD</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <outputParameters>
            <assignToReference>InBiD</assignToReference>
            <name>recordId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>navcase</name>
        <label>navcase</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>NavigateToRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>InBiD</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <outputParameters>
            <assignToReference>InBiD</assignToReference>
            <name>recordId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>navcase2</name>
        <label>navcase</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>NavigateToRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>InBiD</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <outputParameters>
            <assignToReference>InBiD</assignToReference>
            <name>recordId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NavigateToRecord</name>
        <label>NavigateToRecord</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <actionName>c:InboundCallNavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>InBiD</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:InboundCallNavigateToRecord</nameSegment>
        <outputParameters>
            <assignToReference>InBiD</assignToReference>
            <name>recordId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Condition_for_new_record_creation</name>
        <label>Check Condition for new record creation</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>nav2Inbound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Its_sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallClassification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FooterDisp</targetReference>
            </connector>
            <label>If Its sales</label>
        </rules>
        <rules>
            <name>if_its_service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallClassification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>foot3</targetReference>
            </connector>
            <label>if its service</label>
        </rules>
        <rules>
            <name>If_Its_Spare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallClassification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spares</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C</targetReference>
            </connector>
            <label>If Its Spare</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pick1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Classification__c</picklistField>
        <picklistObject>Inbound_Call_Report__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Inbound ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Create Inbound Call Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case for Spare</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>InBiD</assignRecordIdToReference>
        <connector>
            <targetReference>navcase2</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>Acclookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Type__c</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Spares</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Details__c</field>
            <value>
                <elementReference>CallDesc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerName2__c</field>
            <value>
                <elementReference>Customer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ModeofReceipt__c</field>
            <value>
                <elementReference>Mode_Of_Receipt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhoneNumber2__c</field>
            <value>
                <elementReference>Contact_Info.value</elementReference>
            </value>
        </inputAssignments>
        <object>Cases__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_For_service</name>
        <label>Create Case For service</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>InBiD</assignRecordIdToReference>
        <connector>
            <targetReference>navcase</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>Acclookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Type__c</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Details__c</field>
            <value>
                <elementReference>CallDesc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerName2__c</field>
            <value>
                <elementReference>Customer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ModeofReceipt__c</field>
            <value>
                <elementReference>Mode_Of_Receipt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhoneNumber2__c</field>
            <value>
                <elementReference>Contact_Info.value</elementReference>
            </value>
        </inputAssignments>
        <object>Cases__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Inbound_Call</name>
        <label>Create Inbound Call</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>InBiD</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Condition_for_new_record_creation</targetReference>
        </connector>
        <inputAssignments>
            <field>Call_Acknowledged_By__c</field>
            <value>
                <elementReference>CalllAcknowlededby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Classification__c</field>
            <value>
                <elementReference>CallClassification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Details__c</field>
            <value>
                <elementReference>CallDesc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Customer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode_Of_Receipt__c</field>
            <value>
                <elementReference>Mode_Of_Receipt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>Contact_Info.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rice_Mill_Name__c</field>
            <value>
                <elementReference>Acclookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Inbound_Call_Report__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>InBiD</assignRecordIdToReference>
        <connector>
            <targetReference>nav2Opo</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountID__c</field>
            <value>
                <elementReference>Acclookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>CallDesc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <stringValue>Inbound Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Customer_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunities__c</object>
    </recordCreates>
    <screens>
        <name>C</name>
        <label>C</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <fields>
            <name>displayMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Create Spare Related case record in cases Object?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_New_Inbound_Call_Record</name>
        <label>Create New Inbound Call Record</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Inbound_Call</targetReference>
        </connector>
        <fields>
            <name>Acclookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Rice_Mill_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Rice Mill Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Inbound_Call_Report__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CallClassification</name>
            <choiceReferences>pick1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call Classification</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CallDesc</name>
            <fieldText>Call Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Name</name>
            <dataType>String</dataType>
            <fieldText>Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Info</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>+91</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Info.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Mode_Of_Receipt</name>
            <dataType>String</dataType>
            <fieldText>Mode Of Receipt</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CalllAcknowlededby</name>
            <dataType>String</dataType>
            <fieldText>Call Acknowledge By</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>foot3</name>
        <label>foot3</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>Create_Case_For_service</targetReference>
        </connector>
        <fields>
            <name>Diplaytext</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Create Service Case Record In Cases Regarding Inbound Call?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FooterDisp</name>
        <label>FooterDisp</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>DisplaySalesText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Create an Opportunity record with incoming inbound Call?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_New_Inbound_Call_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InBiD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InboundId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
