force-app/main/default/flows/Inbound_Call1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>DEcide_Flow</name>
        <label>DEcide Flow</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_its_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity</targetReference>
            </connector>
            <label>if its Sales</label>
        </rules>
        <rules>
            <name>If_Its_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_Case</targetReference>
            </connector>
            <label>If Its Service</label>
        </rules>
        <rules>
            <name>If_Spares</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spares</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_for_Spares</targetReference>
            </connector>
            <label>If Spares</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Inbound Call1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inbound Call1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_for_Spares</name>
        <label>Create Case for Spares</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Rice_Mill_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Spares</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Details__c</field>
            <value>
                <elementReference>$Record.Call_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Mobile__c</field>
            <value>
                <elementReference>$Record.Customer_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>$Record.Customer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cases__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Case</name>
        <label>Create  new Case</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Rice_Mill_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Details__c</field>
            <value>
                <elementReference>$Record.Call_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerName2__c</field>
            <value>
                <elementReference>$Record.Customer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhoneNumber2__c</field>
            <value>
                <elementReference>$Record.Customer_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cases__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountID__c</field>
            <value>
                <elementReference>$Record.Rice_Mill_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Call_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <stringValue>Inbound Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Customer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunities__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEcide_Flow</targetReference>
        </connector>
        <object>Inbound_Call_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
