force-app/main/default/flows/Inbound_Call_Email_notify_to_ALL_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Inbound_Call_Email_Alert_for_Spares</name>
        <label>Inbound Call Email Alert for Spares</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Inbound_Call_Report__c.Inbound_Call_Email_Alert_for_Spares</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Inbound_Call_Report__c.Inbound_Call_Email_Alert_for_Spares</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Inbound_Call_Email_Alert_Sales</name>
        <label>Inbound Call Email Alert Sales</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Inbound_Call_Report__c.Inbound_Call_Email_Alert_for_Sales</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Inbound_Call_Report__c.Inbound_Call_Email_Alert_for_Sales</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Inbound_Call_Email_Alert_Service</name>
        <label>Inbound Call Email Alert Service</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Inbound_Call_Report__c.Inbound_Call_Email_Alert_for_Service</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Inbound_Call_Report__c.Inbound_Call_Email_Alert_for_Service</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>IsSales</name>
        <label>IsSales</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inbound_Call_Email_Alert_Sales</targetReference>
            </connector>
            <label>Sales Outcome</label>
        </rules>
        <rules>
            <name>Service_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inbound_Call_Email_Alert_Service</targetReference>
            </connector>
            <label>Service Outcome</label>
        </rules>
        <rules>
            <name>Spares_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spares</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inbound_Call_Email_Alert_for_Spares</targetReference>
            </connector>
            <label>Spares Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Inbound Call Email notify to Public Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inbound Call Email notify to ALL Team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsSales</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Call_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </filters>
        <filters>
            <field>Call_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Call_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spares</stringValue>
            </value>
        </filters>
        <object>Inbound_Call_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
