force-app/main/default/flows/Invoice_Update_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Order_or_Quotation</name>
        <label>Order or Quotation</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Orders__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Mapping_Order_To_Invoice</targetReference>
            </connector>
            <label>If Order</label>
        </rules>
        <rules>
            <name>If_Quotation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quotation__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Mapping_Quotation_To_Invoice</targetReference>
            </connector>
            <label>If Quotation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Invoice Update 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Update 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Field_Mapping_Order_To_Invoice</name>
        <label>Field Mapping Order To Invoice</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Amount_Received__c</field>
            <value>
                <elementReference>$Record.Orders__r.Advance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_No_Street__c</field>
            <value>
                <elementReference>$Record.Orders__r.Building_No_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.Orders__r.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>$Record.Orders__r.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>$Record.Orders__r.Customer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>$Record.Orders__r.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>$Record.Orders__r.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Total__c</field>
            <value>
                <elementReference>$Record.Orders__r.Basic_Order_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Village__c</field>
            <value>
                <elementReference>$Record.Orders__r.Village__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Field_Mapping_Quotation_To_Invoice</name>
        <label>Field Mapping Quotation To Invoice</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Building_No_Street__c</field>
            <value>
                <elementReference>$Record.Quotation__r.Opportunity_Name__r.AccountID__r.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commissioning_Charges__c</field>
            <value>
                <elementReference>$Record.Quotation__r.Total_Commissioning_Charges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>$Record.Quotation__r.Opportunity_Name__r.AccountID__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Order_or_Quotation</targetReference>
        </connector>
        <object>Proforma_Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
