force-app/main/default/flows/Lead_Territory_Round_Robin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>DecisionForRecordOwnerUpdate</name>
        <label>DecisionForRecordOwnerUpdate</label>
        <locationX>710</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chittoor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Chittoor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLeadOwner</targetReference>
            </connector>
            <label>Chittoor</label>
        </rules>
        <rules>
            <name>Territory_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UpdateEmptyLeadOwner</targetReference>
            </connector>
            <label>Territory Empty</label>
        </rules>
        <rules>
            <name>Warangal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warangal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Karimnagar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserKarimnagar_Warangal</targetReference>
            </connector>
            <label>Warangal</label>
        </rules>
        <rules>
            <name>Nizamabad_Medak</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nizamabad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medak</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserNizamabad_Medak</targetReference>
            </connector>
            <label>Nizamabad&amp;Medak</label>
        </rules>
        <rules>
            <name>ShivamPandey</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gorakhpur</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Parent_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sultanpur</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserShivampandey</targetReference>
            </connector>
            <label>ShivamPandey</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead Territory Round Robin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Territory Round Robin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateEmptyLeadOwner</name>
        <label>UpdateEmptyLeadOwner</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeadOwner</name>
        <label>UpdateLeadOwner</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0050T000003TN0Z</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UserKarimnagar_Warangal</name>
        <label>UserKarimNagar&amp;Warangal</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0050T000003qCXt</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UserNizamabad_Medak</name>
        <label>UserNizamabad&amp;Medak</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0050T000003TN0Z</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UserShivampandey</name>
        <label>UserShivampandey</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0050T000003qCXs</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DecisionForRecordOwnerUpdate</targetReference>
        </connector>
        <object>Leads__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CTROwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0050T000003HWRz</stringValue>
        </value>
    </variables>
</Flow>
