force-app/main/default/flows/ServiceCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate</name>
        <label>Navigate</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>ServiceCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ServiceCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateServicallRecord</name>
        <label>CreateServicallRecord</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>ServiceCase.Customer_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Person_No__c</field>
            <value>
                <elementReference>ServiceCase.Contact_Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Person__c</field>
            <value>
                <elementReference>ServiceCase.CustomerNameNew__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>ServiceCase.Customer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mill_Name__c</field>
            <value>
                <elementReference>ServiceCase.Mill_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ServiceCase.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>ServiceCase.Complaint_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_for_Spares__c</field>
            <value>
                <elementReference>ServiceCase.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Report__c</object>
    </recordCreates>
    <recordLookups>
        <name>ServiceCase</name>
        <label>ServiceCase</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateServicallRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ww</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cases__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ww</name>
        <label>w</label>
        <locationX>704</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dup1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Duplicates Detected&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ServiceCase</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
