force-app/main/default/flows/Territory_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Territory_Assignment</name>
        <label>Territory Assignment</label>
        <locationX>2558</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Medak_and_NIzamabad</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nizamabad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medak</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Devender_Reddy</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Medak and NIzamabad</label>
        </rules>
        <rules>
            <name>If_the_Territory_is_Warangal_Or_Karimnagar</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warangal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Karimnagar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rajender</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If the Territory is Warangal Or Karimnagar</label>
        </rules>
        <rules>
            <name>If_the_Territory_is_Jedcherla_Or_Nalgonda</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jedcherla</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Venkatesh</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If the Territory is Jedcherla Or Nalgonda</label>
        </rules>
        <rules>
            <name>If_the_Territory_is_Kadapa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kadapa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Kadapa_Vacant</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If the Territory is Kadapa</label>
        </rules>
        <rules>
            <name>If_the_Territory_is_Nellore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nellore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nellore_Vacant</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If the Territory is Nellore</label>
        </rules>
        <rules>
            <name>If_the_Territory_is_Vijayawada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vijayawada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vijayawada_Vacant</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If the Territory is Vijayawada</label>
        </rules>
        <rules>
            <name>If_the_Territory_is_East_Godavari</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>East Godavari</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nanaji</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If the Territory is East Godavari</label>
        </rules>
        <rules>
            <name>If_the_Territory_is_Srikakulam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Srikakulam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Srikakulam_Vacant</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If the Territory is Srikakulam</label>
        </rules>
        <rules>
            <name>If_the_Territory_is_East_Odisha</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>East Odisha</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>East_Odisha_Vacant</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If the Territory is East Odisha</label>
        </rules>
        <rules>
            <name>If_the_Territory_is_West_Odisha</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>West Odisha</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>West_Odisha_Vacant</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If the Territory is West Odisha</label>
        </rules>
        <rules>
            <name>If_Territory_is_in_South_Odisha</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Odisha</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>South_Odisha_Vacant</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If Territory is in South Odisha</label>
        </rules>
        <rules>
            <name>If_Territory_is_in_Purnia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purnia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Purnia_Vacant</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If Territory is in Purnia</label>
        </rules>
        <rules>
            <name>If_Territory_is_in_Patna</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patna</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Naseem</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If Territory is in Patna</label>
        </rules>
        <rules>
            <name>If_Territory_is_in_Buxer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buxer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buxer_Vacant</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If Territory is in Buxer</label>
        </rules>
        <rules>
            <name>If_Territory_is_in_Bathia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bathia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bathia_Vacant</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If Territory is in Bathia</label>
        </rules>
        <rules>
            <name>If_Territory_is_in_Gorakpur_Ghazipur_Sultanpur_or_Robertgang</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gorakhpur</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gazipur</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sultanpur</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Robertgang</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shivam_Pandey</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If Territory is in Gorakpur, Ghazipur, Sultanpur or Robertgang</label>
        </rules>
        <rules>
            <name>If_Territory_is_in_Behraich</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Behraich</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kanpur</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bareilly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShivamPandey</targetReference>
            </connector>
            <label>If Territory is in Behraich, Kanpur Or Bareilly</label>
        </rules>
        <rules>
            <name>If_Territory_is_in_Bhopal_Balaghat_Jabalpur_or_Indore</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bhopal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Balaghat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jabalpur</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MP_Vacant</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If Territory is in Bhopal, Balaghat, Jabalpur or Indore</label>
        </rules>
        <rules>
            <name>If_Territory_is_in_Dispur</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territorys__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispur</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assam_Vacant</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If Territory is in Dispur</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Territory Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Territory Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Assam_Vacant</name>
        <label>Assam Vacant</label>
        <locationX>4802</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Bathia_Vacant</name>
        <label>Bathia Vacant</label>
        <locationX>3746</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Buxer_Vacant</name>
        <label>Buxer Vacant</label>
        <locationX>3482</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Devender_Reddy</name>
        <label>Devender Reddy</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0050T000004799rQAA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>East_Odisha_Vacant</name>
        <label>East Odisha Vacant</label>
        <locationX>2162</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Kadapa_Vacant</name>
        <label>Kadapa Vacant</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MP_Vacant</name>
        <label>MP Vacant</label>
        <locationX>4538</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Nanaji</name>
        <label>Nanaji</label>
        <locationX>1634</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0050T000003qCXJQA2</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Naseem</name>
        <label>Naseem</label>
        <locationX>3218</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0050T000003qCYMQA2</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Nellore_Vacant</name>
        <label>Nellore Vacant</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Purnia_Vacant</name>
        <label>Purnia Vacant</label>
        <locationX>2954</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Rajender</name>
        <label>Rajender</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0050T000003qCXtQAM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Shivam_Pandey</name>
        <label>Shivam Pandey</label>
        <locationX>4010</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0050T000003qCXsQAM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ShivamPandey</name>
        <label>ShivamPandey</label>
        <locationX>4274</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0050T000003qCXsQAM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>South_Odisha_Vacant</name>
        <label>South Odisha Vacant</label>
        <locationX>2690</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Srikakulam_Vacant</name>
        <label>Srikakulam Vacant</label>
        <locationX>1898</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Venkatesh</name>
        <label>Venkatesh</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0050T000003qCa3QAE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Vijayawada_Vacant</name>
        <label>Vijayawada Vacant</label>
        <locationX>1370</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>West_Odisha_Vacant</name>
        <label>West Odisha Vacant</label>
        <locationX>2426</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2432</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Territory_Assignment</targetReference>
        </connector>
        <object>Leads__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
